@use "../../util/variables";
@use "../../util/mixins";
.enterprise-page {
  @include mixins.size(100vw, 100vh);
  @include mixins.grid;
  padding-top: 11vh;
  background-color: black;
  color: #fff;
  transition: opacity 0.5s ease-in-out;

  background-color: rgba(rebeccapurple, 0.466);
  // border: 10px solid yellow;
  // overflow-y: hidden;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  // transition: all 1 ease-in-out;

  img {
    // @include mixins.size(100vw, 100vh);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    animation: fadein 0.35s ease-in-out 0s 1 forwards, fadeout 0.35s ease-in-out 3.15s 1 forwards;
    transition: opacity 0.5s ease-in-out;
transform: scale(0.5);
  }

  div {
  transition: opacity 0.5s ease-in-out;

    border: 3px solid rgb(0, 0, 0);
    background-color: #fff;
    color: white;
    font-size: 18px;
    // animation: fadein 0.5s ease-in-out 0 1 forwards;
    // animation: fadein 0.35s ease-in-out 0s 1 forwards,fadeout 0.5s ease-in-out 3.5s 1 forwards;
    animation: fadein 0.35s ease-in-out 0s 1 forwards, fadeout 0.35s ease-in-out 3.15s 1 forwards;
    // opacity: 0;
    color: black;
  }
  .container {
    @include mixins.size(40vw, 40vh);
    border: 3px solid white;
    @include mixins.flex;
    overflow-x: hidden;

    .up,
    .down {
      @include mixins.size(40vw, 35vh);
      min-width: 100%;
      transition: all 0.5s ease-in-out;
      z-index: 0;
    }

    .up {
      background-color: blue;
      transform: translate(20vw, 0);

      // transform: translate(-21vw, 0);
      // animation: left 5s ease-in-out 0s 1;
      animation: left 5s ease-in-out 0s infinite forwards;
      z-index: 2;
    }
    .down {
      background-color: rgb(255, 30, 0);
      transform: translate(19vw, 0);
      // transform: translate(-20vw, 0);
      animation: right 5s ease-in-out 0s infinite forwards;
      // visibility: hidden;
      z-index: 3;
    }
  }
}

@keyframes left {
  100% {
    transform: translate(-21vw, -37vh);
    transform: translate(59vw, -37vh);
    visibility: hidden;

    // transform: translate(59vw, 0vh);
    // z-index: 1;
    // opacity: 1;
    // opacity: 0;

    // visibility: hidden;
    // transform: translate(20vw, 0);
  }
  //   // transform: translate(58vw, 0);
  //   transform: translate(-21vw, 0);

  //   opacity: 0;
  //   // opacity: 1;
  //   // z-index: -1;
  // }

  // 99.9% {
  //   opacity: 0;
  //   // z-index: 1;

  // }
  50% {
    // transform: translate(-21vw, 0);
    // opacity: 1;
    transform: translate(-21vw, 0);
  }
  51% {
    visibility: hidden;
  }
}
@keyframes left2 {
  100% {
    transform: translate(19vw, 0);
    opacity: 0;
  }

  99.9% {
    transform: translate(-20vw, 0);
    opacity: 1;
  }
}
@keyframes right {
  100% {
    transform: translate(-60vw, -37vh);
    transform: translate(59vw, -37vh);
    visibility: hidden;
  }
  50% {
    transform: translate(-60vw, 0);
    // transform: translate(-60vw, 0);
    // opacity: 0.1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
