.footer {
    // width: 100%;
    height: fit-content;
    background-color: yellow;
    padding: 50px 30px 40px 30px;

    .footer-item {
        border: 1px solid black;
        width: 90%;

        &:first-child {
            padding: 64px;
            background-color: #f5f7fa;
            border: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        // &:last-child{
        //     padding: 64px;
        //     background-color: #f5f7fa;
        //     border: none;

        // }

        .footer-item-sub {
            border: 1px solid black;
            min-height: 4rem;
            display: grid;
            justify-content: center;
            align-items: center;

            &:first-child {
                // background-color: red;
                .footer-item-sub-heading {
                    border: 1px solid red;
                }
            }

            &:last-child {
                display: flex;
                justify-content: center;
                gap: 1rem;
            }
        }
    }
}
