@use "../util/mixins";
@use "../util/variables";
@use "../components/footer-subscribe";
@use "../components/footer-menu";
@use "../components/footer-policy";

.footer {
    // border: 5px solid black;

    height: fit-content;
    background-color: white;
    // padding: 50px 30px 40px 30px;
    // padding-top: 115px;
    @include mixins.flex(column);
    grid-template-columns: 1fr;
    min-width: 100vw;
    // row-gap: 3rem;

     //Multicolor bottom border
   &::before {
    content: "";
    display: block;
   
    @include mixins.size(100%,4px);
    // background-color: red;
    background: linear-gradient(to left, variables.$light-blue, lighten(variables.$purple, 10));
    // border: 1px solid red;
 }

  //subscribe section here
  @extend %subscribe;


  //menu links section here
  @extend %menu;


  //menu links section here
  @extend %policy;

  
    // &-menu,
    // &-policy {
    //     // border: 5px solid black;
    // }
}

//ative link styling
.mobile-nav--link--active {
    color: variables.$active-hover;
}



