@use "../util/variables";
@use "../util/mixins";

@mixin navbar() {
  @media screen and (min-width: 769px) {
    // @media screen and (min-width: 769px) and (max-width: 1024px) {
    // @media screen and (max-width: 480px) {
    .main-nav {
      //Multicolor bottom border
      &::after {
        @include mixins.size(100%, 4px);
        // @include mixins.size(51%, 4px);
      }

      //links
      & > * a,
      #services {
        font-weight: 600;
        font-size: 1.3rem;
        @media screen and (min-width: 1025px) {
          font-size: 1.7rem;
        }
        color: variables.$purple;
        font-family: "Inter", serif;
      }

      &-sub {
        @media screen and (min-width: 1201px) {
          // height: 8rem;
          // column-gap: 3.5rem;
        }
        grid-template-columns: repeat(20, 1fr);
        grid-template-rows: repeat(5, 1fr);
        align-items: start;
        //logo
        &-logo {
          grid-column: 1/5;
          grid-row: 1/2;
          width: 75%;

          @media screen and (min-width: 1201px) {
            height: 100%;
          width: 55%;

          }

          img {
            transform: scale(0.8);
          }
        }

        //mobile body
        &--mobile-body {
          display: none;
          //home
        }

        //items
        &-links {
          grid-column: 7/20;
          grid-row: 1/2;
          // border: 1px solid red;
          @media screen and (min-width: 1201px) {
            height: 100%;
          }

          #laptop-services {
            @include mixins.grid;
            grid-template-columns: repeat(2, minmax(min-content, max-content));
            svg {
              margin-top: 2px;
            }
          }

          @include mixins.grid;
          // grid-template-columns: minmax(1fr,1fr);
          grid-template-columns: repeat(6, minmax(min-content, max-content));
          direction: row;
          justify-content: flex-end;
          // column-gap: auto;
          @media screen and (min-width: 960px) {
            column-gap: 3.5rem;
          }
          @media screen and (min-width: 1201px) {
            column-gap: 7rem;
            // column-gap: 3.5rem;
          }
          column-gap: 3rem;

          // border: 1px solid red;
          &--item,
          img,
          span {
            cursor: pointer;
            display: block;
            // border: 1px solid red;
            padding: 0;
            word-break: keep-all;
            // inline-size: min-content;
            // overflow-wrap: normal;
            width: fit-content(1rem);
            width: -moz-fit-content(1rem);
            width: max-content;
          }

          span,
          svg {
            -webkit-user-select: none;
            user-select: none;

          }

          #theme-switcher {
            // border: 1px solid rgb(72, 0, 255);
            @include mixins.grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 1rem;
            @media screen and (min-width: 960px) {
              column-gap: 2.5rem;
            }
            @media screen and (min-width: 1201px) {
              column-gap: 2rem;
              // column-gap: 3.5rem;
            }
            position: relative;

            #flags {
              // border: 1px solid variables.$light-blue;
              position: absolute;
              margin-top: 5rem;
              margin-left: -8px;
              @include mixins.grid;
              // row-gap: 1rem;
              // padding: 5px;

              & > * div {
                background-color: red;
              }

              div {
                cursor: pointer;
                background-color: variables.$light-blue;
                padding: 5px;
                &:hover {
                  background-color: darken(variables.$light-blue, 20);
                }
              }
              img {
                @include mixins.size(25px, 20px);
                object-fit: scale-down;
                // object-fit: contain;
              }
              .flag--bordered {
                // border: 3px solid rebeccapurple;
                background-color: rebeccapurple;
              }
              .flags--off {
                display: none;
              }

              &::before {
                content: "";
                display: block;
                @include mixins.size(105%, 20px);
                background-color: variables.$light-blue;
                position: absolute;
                top: -2rem;
                left: -1px;
                clip-path: polygon(50% 0, 100% 100%, 0 100%);
                //  clip-path: polygon(50% 0%,100% 100%,100% 0%);
              }
            }
          }
        }

        //services body(dropdown)
        &-services {
          opacity: 0;
          animation: delay 1s ease-in-out 1 forwards;

          @include mixins.grid;
          width: 100%;
          height: 100%;
          grid-column: 1/21;
          grid-row: 2/6;

          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(1, 1fr);

          & > * {
            @include mixins.size(100%, 100%);
            @include mixins.grid;
          }

          .service-list {
            padding-top: 2rem;
            grid-template-rows: repeat(8, 1fr);
            @media screen and (min-width: 1025px) {
              grid-template-rows: repeat(7, 1fr);
            }

            svg {
              font-size: 2rem;
              margin-top: -1px;
            }
            & > * {
              width: 100%;
            }
          }

          .service-icons {
            grid-template-rows: repeat(6, 1fr);
            justify-content: flex-end;
            padding-right: 5rem;

            background: url(./../../svg/waves.svg#select-waves);

            @media screen and (min-width: 1025px) {
              background: url(./../../svg/desktop_wave.svg#select-waves);
              background-position: center;
              background-size: cover;
            }

            @media screen and (min-width: 1201px) {
              background: url(./../../svg/biggest_wave.svg#select-waves);
              background-position: center;
              background-size: cover;
            }
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            div {
              transform: translate(0, -15rem);
              animation: translate-icons 0.5s ease-in-out 1 forwards;

              grid-row: 5/6;
              @include mixins.icons-flush(center, 2rem);

              width: 100%;

              svg {
                font-size: 3rem;
              }
            }
          }
        }

        //theme
        &-mobile {
          display: none;
        }
      }
    }
  }
}

@keyframes delay {
  100% {
    opacity: 1;
  }
}

@keyframes translate-icons {
  100% {
    transform: translate(0, 0);
  }
}
