@use "../util/variables";
@use "../util/mixins";

@mixin navbar() {
  @media screen and (min-width: 769px){
  // @media screen and (min-width: 769px) and (max-width: 1024px) {
    // @media screen and (max-width: 480px) {
    .main-nav {
      border: 1px solid rgb(85, 0, 255);

      //Multicolor bottom border
      &::after {
        @include mixins.size(100%, 4px);
        // @include mixins.size(51%, 4px);

      }
      &-sub {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(20, 1fr);
        //logo
        &-logo {
          background-color: #fff;
          border: 1px solid red;
          img {
            transform: scale(0.8);
          }
        }

        //mobile body
        &--mobile-body {
       display: none;
        }

        //items
        &-links {
          border: 1px solid red;

        }

        //theme
        &-mobile {
          
          display: none;
        }
      }
    }
  }
}
