@use "../util/variables";
@use "../util/mixins";
@use "../components/select";
@use "../components/navbar-theme";
@use "../components/navbar-language";
@use "../util/media-queries";
@use "../layout//mobile-nabvar";

.navigation-main {
   // position: relative;
   // margin-top: -10vh;
   // z-index: 999999999999999;
   // position: fixed;
}

//main container
.main-nav {
   position: fixed;
   z-index: 99999;
   // opacity: 0;
   // opacity: 1;
   animation: animate-navbar 0.2s ease-in-out;

   animation-iteration-count: 1;

   //styling all links in main-nav
   & > * a {
      font-weight: 600;
      font-size: 17px;
      color: variables.$purple;
   }

   &-item {
      transition: all 0.25s ease-in-out;

      &:hover {
         transition: all 0.25s ease-in-out;
         padding-bottom: 0.3rem;
         border-bottom: var(--navbar-link-active-bb);
      }
   }

   // transition: opacity 0.2s ease-in-out 0s;

   // top:70vh;
   //Multicolor bottom border
   &::after {
      content: "";
      display: block;

      @include mixins.size(100%, 4px);
      // background-color: red;
      background: variables.$navbar-border-gradient;
      // border: 1px solid red;
   }

   //language here

   .language-item {
      @extend %language-item;
   }

   //select here

   .select-item {
      @extend %select-item;
   }

   //mobile navbar here

   //media queries here
   @include mixins.responsive-select(767px, 1100px) {
      left: -6rem;
   }
   @include mixins.responsive-select(1101px, 1330px);

   //theme here
   @extend %navbar-theme;

   //logo here
   //select item dropdown
   .logo {
      @include mixins.size(85px, 85px);

      img {
         @include mixins.size(70px, 70px);
      }
   }
}

.nav--link--active {
   padding-bottom: 3px;
   border-bottom: var(--navbar-link-active-bb);
}

@keyframes rotateCross {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}

@keyframes animate-navbar {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}
