//variables
$displayState: none;
$mainPurple: rebeccapurple;
$mainBlack: #000000;

//all components
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

//Configuring html
html {
   font-size: 62.5%;
   overflow-x: hidden;
}

@media all and (max-width: 1024px) {
   html {
      font-size: 53%;
   }
}
@media all and (max-width: 768px) {
   html {
      font-size: 50%;
   }
}

//styling links
a {
   text-decoration: none;
   &:visited {
      color: black;
   }
}

//navbar links
.nav--link,
.nav--link:visited {
   display: 'block';
   color: 'black';
   font-family: 'Gudea';
   transition: all ease 0.15s;

   // &:hover {
   //    transition: all ease 0.15s;
   //    // text-decoration: underline;
   //    padding-bottom: 5px;
   //    border-bottom: 2px solid rebeccapurple;
   //    // color:rebeccapurple;
   // }
}

/* .nav--link:hover{
    color: red;
} */

.nav--link--active {
   color: red;
   padding-bottom: 3px;
   border-bottom: 2px solid $mainPurple;

   /*font-family: 'Gudea';
        transition: all ease 1s;
    display: 'block'; */
}

//language controls
.language-image {
   /* max-width: 100%; */
   /* height: auto; */
   width: 30px;
   height: 38px;
}

//Icon container
.language-item {
   // padding-top: 5px;

   display: grid;
   //  border: 1px solid black;
   justify-content: center;
   align-items: center;
   padding-left: 3rem;

   &:hover {
      //   background-color: rgb(148, 64, 64);
   }

   .language-item-sub {
      // border: 1px solid black;
      // position: relative;
      // text-align: center;

      width: 5.5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;

      &:hover {
         $displayState: grid;
      }
      .language-item-sub-arrow {
         display: grid;
         transition: all ease 0.25s;

         &:hover {
            transition: all ease 0.25s;

            transform: scale(1.5);

            $displayState: grid;
         }
         //    border: 1px solid black;
         //   align-self: end;
         //   margin-left: -0.4rem;
      }

      .language-dropdown {
         display: $displayState;
         position: absolute;
         //  background-color: yellow;
         width: 6rem;
         height: 7rem;
         //   display: grid;
         top: 5.3rem;
         right: 9.98rem;
         // right: 7.55rem;
         transition: all ease 0.2s;
         border-radius: 2%;
         display: none;

         //  row-gap: 0px;

         //dropdown items
         .language-dropdown-item {
            justify-content: center;
            align-items: center;
            display: grid;
            width: inherit;
            height: 100%;
            background-color: $mainPurple;
            border-left: 1px solid $mainBlack;
            // border-top: 1px solid cyan;
            border-right: 1px solid $mainBlack;

            // img {
            //    width: 25px;
            //    height: 30px;
            // }

            &:last-child {
               border-bottom: 1px solid $mainBlack;
            border-radius: 4%;

            }
            &:first-child {
               border-top: 1px solid $mainBlack;
            border-radius: 4%;

            }

            &:hover {
               transition: all ease 0.2s;

               background-color: lighten($mainPurple, 50);
            }
         }
      }
   }
}

//for select dropdown
.select-item {
   // border: 1px solid rgb(176, 22, 22);
   padding-left: 2rem;
   display: grid;

   justify-content: center;
   align-items: center;

 

   .select-item-dropdown {
      // border: 1px solid black;
      // position: relative;
      text-align: center;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;

      //navbar links
      .nav--link,
      .nav--link:visited {
         display: 'block';
         color: 'black';
         font-family: 'Gudea';
         transition: all ease 0.15s;

         //    &:hover{

         //    }
      }

      .select-item-sub-arrow {
         transition: all ease 0.25s;
         // border: 1px solid black;
         align-self: baseline;

         &:hover {
            transition: all ease 0.25s;

            transform: scale(1.5);
         }
      }
   }
}

// element.style {
// }
// <style>
// .css-tzssek-MuiSvgIcon-root {

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

  //select item dropdown
   .select-item-sub{
      border: 1px solid black;
      background-color: $mainPurple;
      width: 30%;
   }
