//all components
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

//Configuring html
html {
   font-size: 62.5%;
   overflow-x: hidden;
}

@media all and (max-width: 1024px) {
   html {
      font-size: 53%;
   }
}
@media all and (max-width: 768px) {
   html {
      font-size: 50%;
   }
}

//styling links
a {
   text-decoration: none;
   &:visited {
      color: black;
   }
}

//navbar links
.nav--link {
   display: 'block';
   /* color: 'black'; */
   font-family: 'Gudea';
   transition: all ease 0.15s;

   //    &:hover{

   //    }
}

/* .nav--link:hover{
    color: red;
} */

.nav--link--active {
   color: red;
   padding-bottom: 3px;
   border-bottom: 2px solid red;

   /*font-family: 'Gudea';
        transition: all ease 1s;
    display: 'block'; */
}

//language controls
.language-image {
   /* max-width: 100%; */
   /* height: auto; */
   width: 30px;
   height: 38px;
}

//Icon container
.language-item {
   padding-top: 5px;
   //    border: 1px solid black;
   &:hover {
      //   background-color: rgb(148, 64, 64);
   }

   .language-item-sub {
      //   border: 1px solid black;
      position: relative;
      text-align: left;
      width: 5rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;

      .language-item-sub-arrow {
         display: grid;
         //   border: 1px solid black;
         //   align-self: end;
         //   margin-left: -0.4rem;
      }

      .language-dropdown {
         background-color: yellow;
         width: 6rem;
         height: 7rem;
         display: grid;

         transition: all ease 0.2s;
         border-radius: 2%;
         row-gap: 0px;

         //dropdown items
         .language-dropdown-item {
            justify-content: center;
            align-items: center;
            display: grid;
            width: inherit;
            height: 100%;
            background-color: rgb(111, 91, 91);

            img {
               width: 25px;
               height: 30px;
            }

            &:hover {
               background-color: aqua;
            }
         }
      }
   }
}

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
