@use "../../util/variables";
@use "../../util/mixins";

.contact {
  //get intouch section of form
  transition: all 0.25s ease-in-out;

  &-getintouch {
    background-color: #000;
    border: 10px solid red;
    height: 100px;
  }

  //textfields
  &-textfield {
    // @keyframes success-blink {

    //   0% {
    //     border: 3px solid green;      }

    //   70% {
    //     border: 3px solid rgba(#663399, 1);

    //   }
    // }

    //input label
    .MuiFormLabel-root,
    .MuiInputLabel-root {
      font-size: 14px;
      margin-top: -5px;
      z-index: 2;
      // margin-bottom: 15px;
      // border: 3px solid rgba(#663399, 0.5);
      // transform: translate(0,-5px);
      &.Mui-focused {
        color: #663399;
        // color: green;
        font-size: 14px;
        margin-top: 0px;

        &.Mui-error {
          font-size: 14px;

          color: red;
        }
      }
      &.Mui-error {
        font-size: 14px;

        color: red;
      }
    }

    //input fields

    .MuiInputBase-root,
    .MuiOutlinedInput-root {
      padding-bottom: 10px;
      padding-top: 10px;
      // height: 10px;
      font-size: 16px;
      fieldset {
        border: 3px solid rgba(#663399, 0.5);
      }

      &:hover {
        fieldset {
          border: 3px solid rgba(#663399, 1);
        }
      }

      &.Mui-focused {
        .MuiOutlinedInput-notchedOutline {
          border: 3px solid green;
          // animation-name: success-blink;
          // animation-duration: 1s;
          // animation-iteration-count: 1;
          // animation-fill-mode: forwards;
          border: 3px solid rgba(#663399, 1);

          legend {
            span {
              // font-size: 6px;
              padding-left: 0px;
              padding-right: 0px;

              // display: none;
            }
          }
        }

        &.Mui-error {
          fieldset {
            border: 3px solid red;
            legend {
              span {
                // font-size: 8px;
                padding-left: 0px;
                padding-right: 0px;
              }
            }
          }
        }
      }
      &.Mui-required {
        fieldset {
          border: 3px solid red;
        }
      }
      &.Mui-error {
        fieldset {
          border: 3px solid red;
          legend {
            span {
              // font-size: 8px;
              padding-left: 0px;
              padding-right: 0px;
            }
          }
        }
      }
    }

    //telephone
    &-telephone {
      .MuiInputBase-root,
      .MuiOutlinedInput-root {
        padding-bottom: 0px;
        padding-top: 0px;
        font-size: 14px;
      }

      //input label
      .MuiFormLabel-root,
      .MuiInputLabel-root {
        font-size: 14px;
        margin-top: 0px;
        z-index: 2;
        // margin-bottom: 15px;
        // border: 3px solid rgba(#663399, 0.5);
        // transform: translate(0,-5px);
        &.Mui-focused {
          color: #663399;
          // color: green;
          font-size: 14px;
          margin-top: 0px;
          margin-left: -5px;

          &.Mui-error {
            font-size: 14px;

            color: red;
          }
        }
        &.Mui-error {
          font-size: 14px;

          color: red;
        }
      }
    }
  }

  //form input fields
  &-form {
    border-radius: 2%;
    box-shadow: 5px 5px 25px -1px rgba(187, 141, 138, 0.122), -5px -5px 25px 1px rgba(141, 138, 138, 0.122);
  }

  //form options
  &-formoptions {
    @include mixins.flex;
    height: fit-content;
    font-family: "Poppins";
    row-gap: 10px;
    margin-top: 5vh;

    //headx
    &-heading {
      color: variables.$purple;
      font-weight: bold;
      font-size: 22px;
    }

    //pills
    &--pills {
      @include mixins.flex;
      row-gap: 10px;
      flex-wrap: wrap;
      column-gap: 10px;
      justify-content: start;

      &-pill {
        border: 3px solid rgba(#663399, 0.5);
        padding: 8px 10px;
        border-radius: 5px;
        font-size: 18px;
        color: rgba(#663399, 0.5);
        font-size: 18px;
        cursor: pointer;
        user-select: none;

        &:hover {
          border: 3px solid rgba(#663399, 1);
          color: rgba(#663399, 1);
        }
      }
      &--bordered {
        border: 3px solid rgba(#663399, 1);
        color: rgba(#663399, 1);
      }
    }
  }
}
