@use "../../util/variables";
@use "../../util/mixins";

.contact,
#form1 {
  //get intouch section of form
  transition: all 0.25s ease-in-out;
  background-color: white;
  // background-color: rgb(190, 28, 152);

  // width: 98vw;
  padding-top: 10vh;
  // padding-left: 6vw;
  // padding-right: 6vw;
  display: grid;

  height: auto;
  width: 99.1vw;

  // column-gap: 3rem;
  // @include mixins.flex(column);

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, minmax(250px));

  //postioning elements
  .formsection {
    grid-row: 3/7;
    grid-column: 1/2;
    // background-color: rgb(212, 61, 61);
    padding-bottom: 3rem;
    font-family: "Poppins", sans-serif;
    width: 80%;
    height: 100%;
    margin-left: 10%;
    padding-left: 3rem;
    padding-right: 3rem;
    @include mixins.flex(column) {
      justify-content: center;
    }

    & > * {
      width: 100%;

      @for $i from 2 through 8 {
        &:nth-child(#{$i}) {
          margin-top: 1rem;
        }
        @if $i == 2 {
          &:nth-child(#{$i}) {
            margin-top: 2rem;
          }
        } @else if $i == 8 {
          &:nth-child(#{$i}) {
            margin-top: 2rem;
          }
        }
      }
    }

    //telephone input field
    .tel {
      // border: 1px solid rgb(192, 32, 32);
      @include mixins.size(100%, 7rem);
      background-color: rgb(255, 255, 255);
      label {
        // @include mixins.size(100%, 4rem);
        @include mixins.flex(column);
        row-gap: 0.55rem;
      }

      .MuiFormControl-root {
        margin-top: 0px;

        .MuiInputBase-root {
          background-color: red;
          position: relative;
          // display: none;
          & > * {
            position: absolute;
          }
          input {
            &:focus,&:hover {
              border: 3px solid rgba(rebeccapurple, 1);
            }
            padding: 0px;

            font-size: 1.4rem;
            border: 3px solid rgba(rebeccapurple, 0.35);
            outline: none;
            border-radius: 3px;
            @include mixins.size(calc(100% - 4.75rem), 3.25rem);
            // @include mixins.size(310px, 30px);
            left: -0.15rem;
            top: 0.5rem;
            padding-left: 4.3rem;
          }

          .MuiPhoneNumber-flagButton {
            left: -0.5rem;
            top: 2.5rem;
            z-index: 1;
            @include mixins.size(1rem, 1rem);
            transform: scale(0.6);
          }

          .MuiOutlinedInput-notchedOutline {
            background-color: red;
            position: relative;
            display: none;
            &:focus {
              border: 3px solid rgba(rebeccapurple, 1);
            }
          }
          background-color: transparent;
          border-radius: 3px;
          &:focus {
            border: 3px solid rgba(rebeccapurple, 1);
          }
        }
      }
    }

    .input,
    .tel {
      label {
        span {
          color: rebeccapurple;
          justify-self: start;
          width: 100%;
          font-size: 1.6rem;

          sup {
            color: red;
            vertical-align: bottom;
            font-size: 2rem;
          }
        }
      }
    }

    // .input label input,
    // .input label textarea,
    // .tel .MuiFormControl-root .MuiInputBase-root {
    //   // background-color: red !important;
    //   padding-left: 1rem;
    //   border: 3px solid rgba(rebeccapurple, 0.35);
    // outline: none;
    //   border-radius: 3px;
    //   font-size: 1.4rem;
    //   &:focus {
    //     border: 3px solid rgba(rebeccapurple, 1);
    //   }
    // }

    .input {
      @include mixins.size(100%, max-content);
      @include mixins.flex;

      label {
        @include mixins.flex(column);
        @include mixins.size(100%, 6.55rem);
        row-gap: 0.35rem;

        // border: 1px solid rgb(192, 32, 32);

        span {
          color: rebeccapurple;
          justify-self: start;
          width: 100%;
          font-size: 1.6rem;

          sup {
            color: red;
            vertical-align: bottom;
            font-size: 2rem;
          }
        }
        input,
        textarea {
          // background-color: red !important;
          padding-left: 1rem;
          border: 3px solid rgba(rebeccapurple, 0.35);
          outline: none;
          border-radius: 3px;
          font-size: 1.4rem;
          &:focus,&:hover {
            border: 3px solid rgba(rebeccapurple, 1);
          }
        }

        input {
          @include mixins.size(100%, 4rem);
        }
        textarea {
          width: 100%;
          padding-top: 0.5rem;
          height: 3rem;
        }
      }
    }

    .message-area {
      height: 12.5rem;

      label {
        span{
          font-family: "Poppins",sans-serif;
        }
        height: 12.5rem;
        textarea {
          height: 12.5rem;
          resize: both;
        }
      }
    }

    .contact-submitbutton {
      // .MuiButtonBase-root{
      background-color: white !important;
      width: 100%;
      border: 3px solid rgba(rebeccapurple, 0.5);
      color: rebeccapurple;
      font-size: 14px;
      font-family: "Poppins";
      font-weight: 900;
      font-size: 1.4rem;
        height: 4rem;
      // }
      &:hover {
        background-color: rebeccapurple !important;
        // border: 3px solid white;
        color: white;
      }
    }
  }

  .office {
    grid-row: 7/10;
    grid-column: 1/2;
    // margin-top: -30vh;
    width: 38vw;
    background-color: rgb(0, 90, 128);
    // font-family: "Poppins",sans-serif;
  }

  .getintouch {
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: rgb(181, 98, 25);
    background-color: transparent;
    h2 {
      font-family: "Poppins 700",sans-serif;
      font-size: 3rem;
      // font-weight: 900;
    }

    @include mixins.flex(column);
    padding: 2.5rem 2rem;
    row-gap: 1rem;

    & > * {
      // border: 1px solid red;
      &:nth-child(1) {
        // background-color: #fff;
        text-align: left;
        width: 307px;
      }
      &:nth-child(2) {
        // background-color: rgb(105, 84, 84);
        text-align: left;
        width: 310px;
      }
    }
    div {
      font-size: 1.5rem;
    }
  }

  &-getintouch {
    // border: 1px solid red;
    // height: 100px;
    font-family: "Poppins", sans-serif;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #663399;
    }

    // h2,
    // h4,
    // h3 {
    //   color: rebeccapurple;
    //   font-weight: 900;
    // }
    // h2 {
    //   font-size: 40px;
    //   padding-bottom: 5px;
    // }
    // h3 {
    //   font-size: 30px;
    //   // padding-top: 20px;
    //   padding-bottom: 15px;
    // }
    // img {
    //   padding-bottom: 20px;
    // }

    // img[alt*="svg"] {
    //   // border: 1px solid red;
    //   padding-bottom: 0px;
    //   margin-top: -45px;
    // }

    // div {
    //   font-size: 21px;
    // }

    // h4 {
    //   font-size: 30px;
    //   padding-top: 30px;
    //   padding-bottom: 15px;
    // }

    // h5 {
    //   font-weight: 500;
    //   color: rgba(#2b0a3d, 0.5);
    //   font-size: 18px;
    // }
  }

  //submit button
  // &-submit

  //form input fields
  &-form {
    border-radius: 5px;
    box-shadow: 5px 5px 25px -1px rgba(187, 141, 138, 0.122), -5px -5px 25px 1px rgba(141, 138, 138, 0.122);
  }

  //form options
  &-formoptions {
    @include mixins.flex;
    height: fit-content;
    font-family: "Poppins";
    row-gap: 10px;
    margin-top: 3.3rem;

    //headx
    &-heading {
      color: variables.$purple;
      font-weight: bold;
      // font-size: 22px;
      font-size: 1.6rem;
    }

    //pills
    &--pills {
      @include mixins.flex;
      row-gap: 10px;
      flex-wrap: wrap;
      column-gap: 10px;
      justify-content: start;

      &-pill {
        border: 3px solid rgba(#663399, 0.5);
        padding: 3px 10px;
        // padding: 8px 10px;
        border-radius: 5px;
        font-size: 1.2rem;
        // font-size: 18px;
        color: rgba(#663399, 0.5);
        cursor: pointer;
        -webkit-user-select: none;
        user-select: none;

        &:hover {
          border: 3px solid rgba(#663399, 1);
          color: rgba(#663399, 1);
        }
      }
      &--bordered {
        border: 3px solid rgba(#663399, 1);
        color: rgba(#663399, 1);
      }
    }
  }
}
