@use "../../util/variables";
@use "../../util/mixins";
@use "./form" as Form;
@use "./modal" as Modal;
@use "./office" as OfficeSection;
@use "./get-in-touch" as GetInTouch;

.contact,
#form1 {
  transition: all 0.25s ease-in-out;
  background-color: rgb(255, 255, 255);

  padding-top: 10vh;
  display: grid;

  height: auto;
  width: 100vw;

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, minmax(250px));

  @media only screen and (min-width: 1201px) {
    grid-template-columns: 1fr 1.1fr;
  grid-template-rows: repeat(5, minmax(250px));
padding: 0vh 8.2vw;
column-gap: 5rem;
padding-top: 19vh;
padding-bottom: 5vh;
margin-bottom: 25vh;
  }

  /*********************************************************/
  /**********************Modal Section*********************/
  @include Modal.modal;

  /*********************************************************/
  /**********************Form Section*********************/
  @include Form.form;

  /*********************************************************/
  /**********************Office Section*********************/
  @include OfficeSection.office;

  /*********************************************************/
  /**********************Get In Touch Section*********************/
  @include GetInTouch.get-in-touch;
}

@keyframes enlarge {
  100% {
    font-size: 1.2rem;
  }
}
