@use "../util/variables";
@use "../util/mixins";

@mixin navbar() {
  @media screen and (min-width: 481px) and (max-width: 768px) {
    // @media screen and (max-width: 480px) {
    .main-nav {
      background-color: transparent;
      //Multicolor bottom border
      &::after {
        // @include mixins.size(41%, 4px);
        // @include mixins.size(51%, 4px);
      display: none;

      }
      &-sub {
        background-color: transparent;
        //logo
        &-logo {
          background-color: var(--tablet-navbar-bg);
          border-bottom: 3px solid var(--tablet-navbar-link);
         
        }

        //mobile body
        &--mobile-body {
          width: 50vw;
          border-right: 3px solid var(--tablet-navbar-link);
          border-bottom: 3px solid var(--tablet-navbar-link);
          background-color: var(--tablet-navbar-bg);

          .search {
            margin-top: 20px;
          }
        }

        //items
        &-links {
          background-color: var(--tablet-navbar-bg);
          border-bottom: 3px solid var(--tablet-navbar-link);
        }

        //theme
        &-mobile {
          background-color: var(--tablet-navbar-bg);
          border-bottom: 3px solid var(--tablet-navbar-link);
        }
      }
    }
  }
}
