@use 'sass:color';

@function toRGB($color) {
  @return #{red($color)} #{green($color)} #{blue($color)}
}

:root.light {
  --primary-color: #{toRGB(rebeccapurple)};
  --primary-alt-color: #{toRGB(rebeccapurple)};
  --secondary-color: #{toRGB(white)};
  --tertiary-color: #{toRGB(#2B0A3D)};

  --title-color: #{toRGB(rebeccapurple)};
  --subtitle-color: #{toRGB(rebeccapurple)};
}

:root.dark {
  --primary-color: #{toRGB(white)};
  --primary-alt-color: #{toRGB(#00D0FF)};
  --secondary-color: #{toRGB(rebeccapurple)};
  --tertiary-color: #{toRGB(#00D0FF)};

  --title-color: #{toRGB(white)};
  --subtitle-color: #{toRGB(#00D0FF)};
}

.about {

  .caption {
    @apply max-w-5xl text-center font-['Poppins'] text-2xl font-semibold leading-[35px] tracking-normal laptop:text-[55px] laptop:leading-[70px] text-primary/60;
  }
}
