:root,
:root.dark {
  &>* a::selection,   *::selection{
    background-color: rebeccapurple;
    color: white;
 }

  --footer-bg: red;
  --footer-text: green;

    //arrow
    --arrow-start: #{$arrow-start-light};
    --arrow-end: #{$arrow-end-light};
}