@use "../../../util/mixins";
@use "./projects" as pr;
@use "./header" as hdr;
@use "./product-design" as pd;
@use "./subheader" as subh;
@use "./design_process" as dp;
.uiux {
  margin-top: 7rem;
  @include mixins.flex(column);
  background: url("../../../../svg/services/uiux/bg1light.svg"), url("../../../../svg/services/uiux/bg2light.svg"), var(--uiux-bg);
  background-repeat: no-repeat;
  background-position: -7rem 100rem, 100% 171rem;

  @media screen and (480px < width <= 960px) {
    background: url("../../../../svg/services/uiux/bg1light.svg"), url("../../../../svg/services/uiux/bg2light.svg"), var(--uiux-bg);
    background-repeat: no-repeat;
    background-position: 0rem 87rem, 100% 171rem;
  }
  @media screen and (width > 960px) {
    background: url("../../../../svg/services/uiux/bg3light.svg"), url("../../../../svg/services/uiux/bg4light.svg"), var(--uiux-bg);
    background-position: 0rem 101rem, 18rem 212rem;
    background-repeat: no-repeat;
  }

  //header
  @include hdr.header;

  //subheader
  @include subh.subheader;

  //proddesign
  @include pd.productdesign;

  //design process
  @include dp.designprocess;

  //projects section
  @include pr.projects;
}
