@use "../util/mixins";

%navbar-theme {
  .navbar-theme {
    &-dark,
    &-light {
      cursor: pointer;
      font-size: 3.5rem;
    }
    &-dark {
      fill: rebeccapurple;
      margin-top: -2px;
    }

    &-light {
      color: white;
    }
  }
}
