@use "../util/mixins";

%navbar-theme {
  .navbar-theme {
    &-dark {
      fill: rebeccapurple;
      cursor: pointer;
      font-size: 35px;
      margin-top: -2px;
      // border: 1px solid red;
    }

    &-light {
      color: white;
      cursor: pointer;
      font-size: 35px;

    }
  }
}
