// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }

/* width */
::-webkit-scrollbar {
  width: 1.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: var(--scb-track-bs); 
  // border-radius: 10px;
background: var(--scb-track-bg);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scb-thumb-bg); 
  border-radius: 100px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0.5s ease-in-out;
  background: var(--scb-thumb-hover); 
}

@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
display: none;  }
}