// /* width */
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #f1f1f1; 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #888; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//   background: #555; 
// }

/* width */
::-webkit-scrollbar {
  width: 1.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  // border-radius: 10px;
background: rgba(102, 51, 153, 0.57);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(102, 51, 153, 0.892); 
  border-radius: 100px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  transition: all 0.5s ease-in-out;
  background: darken(rebeccapurple,10%); 
}

@media only screen and (max-width: 480px) {
  ::-webkit-scrollbar {
display: none;  }
}