.digital__marketing,
.digital__marketing .testimonial {
  @apply bg-[var(--mobile-navbar-bg)];
}

//result bg
.suite {
  background: url("../../../../svg/services/uiux/bg1light.svg"), url("../../../../svg/services/uiux/bg2light.svg"), var(--uiux-bg);
  background-repeat: no-repeat;
  background-position: -7rem 100rem, 100% 171rem;

  @media screen and (480px < width <= 960px) {
    background: url("../../../../svg/services/uiux/bg1light.svg"), url("../../../../svg/services/uiux/bg2light.svg"), var(--uiux-bg);
    background-repeat: no-repeat;
    background-position: 0rem 87rem, 100% 171rem;
  }
  @media screen and (width > 960px) {
    background: url("../../../../svg/services/uiux/bg3light.svg"), url("../../../../svg/services/uiux/bg4light.svg"), var(--uiux-bg);
    background-position: 0rem 101rem, 18rem 212rem;
    background-repeat: no-repeat;
  }
  @media screen and (width > 1350px) {
    background: url("../../../../svg/services/uiux/bg3light.svg"), url("../../../../svg/services/uiux/bg4light.svg"), var(--uiux-bg);
    background-position: 0rem 101rem, 45% 117%;
    background-repeat: no-repeat;
  }
}

.digitalmarketing__header {
  background: url("../../../../images/digital2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-animation {
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
  -webkit-animation: icon 1s linear infinite, cicon 1s linear infinite;
  animation: icon 1s linear infinite, cicon 1s linear infinite;
}

@-webkit-keyframes icon {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@keyframes icon {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

@-webkit-keyframes cicon {
  100% {
    --tw-text-opacity: 1;
    color: #3b82f6;
    opacity: 1;
  }
  0% {
    color: rebeccapurple;
    opacity: 1;
  }
}

@keyframes cicon {
  100% {
    --tw-text-opacity: 1;
    color: #3b82f6;
    opacity: 1;
  }
  0% {
    color: rebeccapurple;
    opacity: 1;
  }
}

.icon-hover {
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  -webkit-animation: enter 3s;
  animation: enter 3s;
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.digital-marketing-header {
  @apply relative h-[60vh] w-full overflow-hidden  laptop:h-[90vh];
}

.digital-marketing-header__wrapper {
  @apply h-full w-full overflow-hidden blur-md;
}

.digital-marketing-header__container {
  @apply absolute top-0 left-0 flex h-full w-full items-center justify-center overflow-hidden text-6xl;
}

.digital-marketing-header__content {
  @apply hidden w-full items-center justify-center gap-6 tablet:flex laptop:gap-16;
}

.icon-style {
  @apply icon-hover -rotate-[15deg] text-[8rem] font-normal text-[#3b2352] laptop:scale-150;
}

.text-style {
  @apply z-10 font-extrabold leading-relaxed text-[rebeccapurple] laptop:text-[6rem];
}
.responsive-text-style {
  @apply z-10 block font-extrabold leading-relaxed text-[rebeccapurple] tablet:hidden;
}

.digital-marketing-header-content-responsive {
  @apply flex w-full items-center justify-center gap-6 tablet:hidden laptop:gap-16;
}

.animate-icon {
  @apply flex w-full -translate-y-[18rem] flex-col items-center justify-center p-8 tablet:hidden;
}
.icon-bounce {
  @apply icon-animation h-[4rem] text-[6rem];
}

/* second section style starts here */

.introduction-text {
  @apply flex w-full items-center  justify-center  bg-[var(--mobile-navbar-bg)] font-[poppins] tablet:py-12 laptop:pt-24;
}

.introduction-text-content {
  @apply bg-gradient-to-r from-[rebeccapurple] to-blue-400 bg-clip-text p-4 text-center font-[Poppins] font-extrabold uppercase leading-tight text-transparent tablet:w-4/5 tablet:leading-normal  laptop:px-12 laptop:text-[2rem] laptop:leading-relaxed;
}

.result {
  @apply flex flex-col items-center justify-center gap-4 tracking-widest;
}

.result :nth-child(1) {
  @apply text-6xl font-bold text-[#00d0ff] tablet:text-[5rem] laptop:text-[7rem];
}

.result :nth-child(1) > span {
  @apply text-[var(--marketing-numbers)];
}

.result :nth-child(2) {
  @apply text-center text-xl font-semibold capitalize text-[var(--tablet-navbar-link)] tablet:text-3xl;
}

.result-container {
  @apply flex w-full flex-col bg-[var(--mobile-navbar-bg)] py-16;
}

.result-container .title {
  @apply flex w-full items-center justify-center font-extrabold;
}

.result-container .results {
  @apply mt-8 flex w-full flex-col items-center justify-center gap-8 pt-8 tablet:mt-16 tablet:w-full tablet:flex-row tablet:justify-around;
}

/* second section style ends here */

.testimonial {
  @apply flex w-full flex-col bg-[var(--mobile-navbar-bg)];
}

.testimonial-container {
  @apply mb-8 flex w-full flex-col bg-[var(--mobile-navbar-bg)] items-center justify-center gap-8 tablet:my-16 tablet:w-full tablet:flex-row tablet:justify-around;
}

.testimonial-card {
  @apply flex w-full flex-col px-6 laptop:w-4/5;
}

.testimonial-card-image-container {
  @apply flex items-center justify-center p-2;
}

.testimonial-card-image-container img {
  @apply h-36 w-36 rounded-full object-cover;
}

.quote {
  @apply text-[8rem] text-[var(--tablet-navbar-link)];
}

.testimonial-card-content {
  @apply flex w-full items-start justify-center p-2;
}

.testimonial-card-content p {
  @apply p-4 pt-16 text-center font-['Poppins']  text-xl font-[400] leading-[23px] text-[var(--footer-body-heading-bg)] text-opacity-[65] laptop:text-3xl;
}

.testimonial-author {
  @apply flex items-center justify-center p-2;
}

.testimonial-author p {
  @apply font-['Poppins'] text-xl font-[400] text-[var(--tablet-navbar-link)] laptop:text-2xl;
}
