.nav--link{
    display: 'block';
       /* color: 'black'; */
        font-family: 'Gudea';
        transition: all ease 0.15s;
}

/* .nav--link:hover{
    color: red;
} */

.nav--link--active{
    color: red;
    padding-bottom: 3px;
    /* border-bottom: 2px solid red; */
    border-image: linear-gradient(to right, rgb(139, 191, 64) 25%, rgb(230, 27, 33) 25%, rgb(230, 27, 33) 50%, rgb(124, 196, 236) 50%, rgb(124, 196, 236) 75%, rgb(254, 181, 17) 75%);
  border-image-slice: 1;
  border-image-width: 0px 0px 4px 0px;
    /*font-family: 'Gudea';
        transition: all ease 1s;
    display: 'block'; */

}

.nav--link--active:after {
  bottom: 0;
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  background: green;
  box-shadow: 100px 0 0 0 darkred, 200px 0 0 0 red, 300px 0 0 0 yellow, 400px 0 0 0 tomato;
}
