@use "../../../util/mixins";


@mixin subheader {
  &__subheader {
    width: 100vw;
    margin-top: 4rem;

    @include mixins.customgrid(1, 4, auto, 1fr);
    height: 221.63px;
    position: relative;
    div {
      &:nth-of-type(1) {
        @include mixins.position("1/2");
        span {
          @include mixins.defaultSignature;
        }

        @media screen and (480px < width <= 960px) {
          left: 1.5rem;
        }
        @media screen and (width > 960px) {
          left: 3rem;
        }

        position: absolute;
        left: 0;
      }
      &:nth-of-type(2) {
        @include mixins.position("1/2", "2/4");
        position: relative;
        @include mixins.grid;
        @include mixins.size(100%);

        section {
          @include mixins.size(20rem, 6rem);
          text-align: center;
          @media screen and (480px < width <= 960px) {
            @include mixins.size(25rem, 7.6rem);
          }
          @media screen and (width > 960px) {
            @include mixins.size(34.04rem, 9.4rem);
          }

          span {
            font-family: "Pacifico Neue", cursive;
            font-weight: 400;
            font-size: 2.35rem;
            line-height: 2.7rem;
            text-transform: capitalize;
            color: #663399;
            width: 17.475rem;
            height: 53.48px;
            text-align: center;
            @media screen and (480px < width <= 960px) {
              font-size: 3.3rem;
              line-height: 3.8rem;
            }
            @media screen and (width > 960px) {
              font-size: 4.04rem;
              line-height: 4.7rem;
            }
          }
          div.uiux__subheader--svg {
            position: absolute;
            @include mixins.size(auto);

            @media screen and (width <= 420px) {
              // display: none;
            }

            img {
              @include mixins.defaultSignature;
            }

            &:nth-of-type(1) {
              @include mixins.positioning(73%, 57%);
              z-index: 1;
              @media screen and (480px < width <= 960px) {
                @include mixins.positioning(75.5%, 61%);
              }
              @media screen and (width > 960px) {
                @include mixins.positioning(73.2%, 62.8%);
              }
            }
            &:nth-of-type(2) {
              @include mixins.positioning(-25px, 50.6%);

              z-index: 0;
              @media screen and (480px < width <= 960px) {
                @include mixins.positioning(-21px, 51.6%);
              }
              @media screen and (width > 960px) {
                @include mixins.positioning(-40px, 51.8%);
              }
            }
          }
        }
      }
      &:nth-of-type(3) {
        @include mixins.position("1/2", "4/5");

        span {
          @include mixins.defaultSignature;
        }

        @media screen and (480px < width <= 960px) {
          right: 1.5rem;
        }
        @media screen and (width > 960px) {
          right: 3rem;
        }
        position: absolute;
        right: 0;
      }
    }
  }
}