@use "../../../util/mixins";
@use "./header" as hdr;
@use "./product-design" as pd;
@use "./subheader" as subh;
@use "./design_process" as dp;
.uiux {
  margin-top: 7.5vh;
  @include mixins.flex(column);
  background-color: #fff;

  //header
  @include hdr.header;

  //subheader
  @include subh.subheader;

  //proddesign
  @include pd.productdesign;

  //design process
  @include dp.designprocess;

  //projects section
  &__projects {
    width: 100vw;
    padding: 0rem 9rem;
    & > * {
      width: 100%;
      @include mixins.grid;
    }
    @include mixins.customgrid(2, 1, auto, 1fr);
    row-gap: 2.5rem;
    margin-top: 4rem;

    @media screen and (width > 960px) {
      row-gap: 5rem;
      margin-top: 6rem;
    }

    //styling heading with mixin
    .home__heading {
      @include mixins.headingStyle;
    }
  }
}
