@use "../../../util/mixins";
.uiux {
  margin-top: 9vh;
  @include mixins.flex(column);

  //header section
  &__header {
    @include mixins.customgrid(1, 2, auto);
    @include mixins.size(100vw, auto);
    @media screen and (480px < width <= 960px) {
      @include mixins.size(100vw, 53.2rem);
    }
    @media screen and (width > 960px) {
      @include mixins.size(100vw, 46.6rem);
    }
    align-items: flex-start;

    // &--desktop {
    //   @include mixins.size(100%, 46.6rem);
    // }

    // &--tablet {
    //   @include mixins.size(100%, 53.2rem);
    // }

    picture {
      @include mixins.position("1/2", "1/3");

      z-index: 0;
      img,
      source {
        @include mixins.size(100%, 55.6rem);
        @media screen and (480px < width <= 960px) {
          @include mixins.size(100%, 53.2rem);
        }
        @media screen and (width > 960px) {
          @include mixins.size(100%, 46.6rem);
        }
      }
    }

    //rectangle containx blur effect
    &--backdrop {
      @include mixins.size(inherit, 55.6rem);
      @media screen and (480px < width <= 960px) {
        // @include mixins.size(100vw, 53.2rem);
        @include mixins.size(inherit, inherit);
      }
      @media screen and (width > 960px) {
        // @include mixins.size(100vw, 46.6rem);
        @include mixins.size(inherit, inherit);
      }
      // background-color: #765;
      @include mixins.position("1/2", "1/3");
      z-index: 1;
      @include mixins.blurbackdrop($intensity: 10px, $color: white, $opacity: 0);
    }

    //hero section text
    &--text {
      @include mixins.flex(column);
      @include mixins.size(inherit, 55.6rem);
      @media screen and (480px < width <= 960px) {
        // @include mixins.size(100vw, 53.2rem);
        @include mixins.size(inherit, inherit);
      }
      @media screen and (width > 960px) {
        // @include mixins.size(100vw, 46.6rem);
        @include mixins.size(inherit, inherit);
      }
      // background-color: #765;
      @include mixins.position("1/2", "1/3");
      z-index: 2;
      color: white;
      // @include mixins.blurbackdrop($intensity: 10px, $color: rgb(228, 15, 15), $opacity: 0.2);
    }
  }
}
