@use "~@fontsource/passion-one/scss/mixins" as PassionOne;

$weights: 400, 700, 900;

@each $weight in $weights {
  $name: "Passion One #{$weight}";

  @if $weight == 400 {
    $name: "Passion One";
  }

  @include PassionOne.fontFace($fontName: $name, $weight: $weight);
}
