@use "~@fontsource/sarala/scss/mixins" as Sarala;

$weights: 400, 700;

@each $weight in $weights {
  $name: "Sarala #{$weight}";

  @if $weight == 400 {
    $name: "Sarala";
  }

  @include Sarala.fontFace($fontName: $name, $weight: $weight);
}
