@use "~@fontsource/victor-mono/scss/mixins" as VictorMono;

$weights: 100, 200, 300, 400, 500, 600, 700;

@each $weight in $weights {
  $name: "Victor Mono #{$weight}";

  @if $weight == 400 {
    $name: "Victor Mono";
  }

  @include VictorMono.fontFaceCustom($fontName: $name, $weight: $weight);
}
