@use 'layout/navbar';
@use 'layout/footer';
@use 'pages/home/home';
@use 'components/telephone';

//root schemes
//light here
@import './util/light-palette';
@import './util/dark-palette';

//styling links
a {
   font-family: "Gudea";
   transition: all ease 0.15s;
   text-decoration: none;
   color: var(--navbar-link);

   &:visited {
      color: var(--navbar-link);
   }
}

//all components
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

//Configuring html
html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   // min-width: 320px;
}

body { font-size: 1.6em;
   min-width: 32rem;
 }

 .fix{
   position: fixed;
 }