@use "@assets/fonts/index";
@use "layout/navbar";
@use "layout/footer";
@use "pages/home/home";
@use "pages/enterprise/enterprise";
@use "pages/contact/contact";
@use "components/telephone";
@use "components/scrollbar";
@use "pages/about/about";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  @import "./util/light-palette";
  @import "./util/dark-palette";
}

@layer components {
  .solutions__title {
    position: relative;
  }
}

//setting background
#scroll-zone{
   // background-image: url("../../assets/images/background.svg");
   background: url("../../assets/svg/app_background_light.svg");
  //  background-position: center;
   background-size: auto;
   background-size: 100%;
   background-size: cover;

   // background-size: 100% auto, 100% 100%;
   // background-size: auto auto, auto auto;
   // background-size: auto,auto;
   background-repeat: no-repeat;
   background-origin: border-box;
   -webkit-background-clip: border-box;
   background-clip: border-box;
}

//styling links
a {
  font-family: "Inter", sans-serif;
  transition: all ease 0.15s;
  text-decoration: none;
  // color: var(--navbar-link);
  // &:visited {
  //    color: var(--navbar-link);
  // }
}

//all components
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

//Configuring html
html {
  // font-size: 0.82vw;
  font-size: 62.5%;
  // font-size: calc(15px + 0.390625vw);
  // font-size: calc(12px + 1vw);

  overflow-x: hidden;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;

  // min-width: 320px;
}

body {
  font-size: 1.6em;
  min-width: 32rem;

}

.fix {
  position: fixed;
}
