@use "../../util/mixins";
$background-color: rebeccapurple;

@mixin makeHeading($color: #fff) {
  color: $color;
  font-weight: bold;
  font-size: xx-large;
}

@mixin centerFlex($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.main-header {
  @include mixins.flex;
  @include mixins.size(100vw, 100vh);
  // background-color: red;

  .left {
    // background-color: yellow;
    @include mixins.flex(column);
    @include mixins.size(100%, 100%);
    background-image: url("../../../images/services/computer.png");
    background-size: cover;
    background-position: center;
    align-items: flex-end;
    .text {
      text-align: right;
      // background-color: #fff;
      color: #ffffff;
      overflow: hidden;
      @include makeHeading(#fff);
      letter-spacing: 5px;
    }
    .left-bottom {
      // background-color: red;
      color: white;
      margin-left: 90px;
      width: 50%;
    }
  }
  .right {
    // background-color: white;
    @include mixins.flex(column);
    @include mixins.size(100%, 100%);
    align-items: flex-start;

    .text {
      text-align: left;
      //background-color: yellow;
      color: $background-color;
      letter-spacing: 5px;
      overflow: hidden;
      @include makeHeading($background-color);
    }
  }

  .right-bottom {
    //s background-color: red;
    color: black;
    max-width: 48%;
    margin-left: 63px;

    .sub-text {
      text-align: end;
      margin-left: 20px;
      font-weight: bold;
      font-style: italic;
      color: $background-color;
    }
  }

  .left,
  .right {
    .text {
      // @include mixins.flex;
      @include mixins.size(60%, 10%);
      vertical-align: center;
    }
  }
}

.softwaredev {
  background-image: url("../../../images/services/computer.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 50vw;
}

.softwaredev__header {
  position: absolute;
  top: 50%;
  right: 10%;
  width: 1000px;
}

.softwaredev__textContainer {
  display: flex;
}

.softwaredev__textStyle {
  font-weight: bold;
  font-size: xx-large;
}
.softwaredev__headerContainer {
  display: flex;
  flex-direction: column;
}

.softwaredev__subText {
  display: flex;
  margin-left: 30%;
  text-align: end;
  max-width: 40%;
}

.firstsection {
  width: 100vw;
  height: 60vh;
  @include centerFlex;
  background-color: $background-color;

  &__header {
    color: white;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
  }
}

.list-service-container {
  width: 100vw;
  height: 50vh;

  &__number {
    flex: 2;
    font-weight: bold;
    font-size: xx-large;
    color: $background-color;
    @include centerFlex;
    .number-value {
      @include centerFlex;
    }
  }

  &__detail {
    flex: 6;
    background-color: $background-color;
    margin-top: -70px;
    @include centerFlex;

    &-container {
      width: 70%;
    }

    &-heading {
      @include makeHeading;
    }

    &-text {
      color: white;
    }
  }
}

.softwaredev__svg {
  span {
    svg {
      @include mixins.size(5.1rem, 2.3rem);
      @media only screen and (width > 768px) {
      @include mixins.size(25.1rem, 22.3rem);
        
      }
      transition: fill 0.25s ease-in-out;

      &:hover {
        path {
          transition: fill 0.25s ease-in-out;
          // fill: transparent;
          &:nth-child(1) {
            fill: #fbbc05;
          }
          &:nth-child(2) {
            fill: #ea4335;
          }
          &:nth-child(3) {
            fill: #4285f4;
          }
          &:nth-child(4) {
            fill: #e0e0e0;
          }

          &:nth-child(5) {
            fill: white;
          }
        }
      }

      path {
        // opacity: 0.2;
        transition: fill 0.25s ease-in-out;
        fill: rgba(0, 0, 0, 0.2);

        &:nth-child(4) {
          fill: #ffffff;
        }
      }
    }
  }
}
