@use "~@fontsource/cormorant-garamond/scss/mixins" as CormorantGaramond;

$weights: 300, 400, 500, 600, 700;

@each $weight in $weights {
  $name: "Cormorant Garamond #{$weight}";

  @if $weight == 400 {
    $name: "Cormorant Garamond";
  }

  @include CormorantGaramond.fontFace($fontName: $name, $weight: $weight);
}
