@use "~@fontsource/montserrat/scss/mixins" as Montserrat;

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
  $name: "Montserrat #{$weight}";

  @if $weight == 400 {
    $name: "Montserrat";
  }

  @include Montserrat.fontFace($fontName: $name, $weight: $weight);
}
