@use "../util/mixins";
@use "../util/variables";

//language controls
.language-image {
   // @include mixins.size(30px, 38px);
}

//Icon container
%language-item {
   @include mixins.grid;
   @include mixins.grid{
grid-template-columns: 1fr 1fr;
column-gap: 0.75rem;
justify-content: space-between;
   };
      // border: 1px solid red;


   .language-item-sub {
      @include mixins.grid;
      // border: 1px solid red;


      width: -moz-fit-content;
      width: fit-content;
      grid-template-columns: repeat(2, 1fr);

      .language-item-sub-arrow {
         display: grid;
         transition: all ease 0.25s;

         &:hover {
            transition: all ease 0.25s;

            transform: scale(1.5);
         }
      }

      .language-dropdown {
         position: absolute;
         cursor: pointer;

         @include mixins.size(6rem, 7rem);

         top: 5rem;

         transition: all ease 0.2s;
         border-radius: 2%;
         display: none;

         //dropdown items
         .language-dropdown-item {
            @include mixins.grid;

            @include mixins.size(inherit, 100%);

            background-color: var(--navbar-language-dd-item-bg);
            border-left: 1px solid var(--navbar-language-dd-item-bl);

            border-right: 1px solid var(--navbar-language-dd-item-br);

            &:last-child {
               border-bottom: 1px solid var(--navbar-language-dd-item-bb);
               border-radius: 4%;
            }
            &:first-child {
               border-top: 1px solid var(--navbar-language-dd-item-bt);
               border-radius: 4%;
            }

            &:hover {
               transition: all ease 0.2s;

               background-color: var(--navbar-language-dd-item-bg-hover);
            }
         }
      }
   }
}
