@use "../../util/variables";
@use "../../util/mixins";
@use "./form" as Form;
@use "./modal" as Modal;
@use "./office" as OfficeSection;
@use "./get-in-touch" as GetInTouch;

.contact,
#form1 {
  width: 100vw;

  transition: all 0.25s ease-in-out;
  background-color: rgba(255, 255, 255, 0.5);
  background: none;
  background: var(--main-background),rgba(255, 255, 255, 0.5);
  background-position: center;
  background-size: 110% 150%;
  
  background-origin: border-box;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  position: relative;


  padding-top: 10vh;
  display: grid;
  // rgba(255, 255, 255,0.5)


  mark{
    color: var(--home-heading-color);
    background-color: var(--mobile-navbar-bg);
    // color: rebeccapurple;
    // background-color: #2b0a3d;
  }

  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(10, minmax(250px));

  @media only screen and (min-width: 1201px) {
    grid-template-columns: 1fr 1.1fr;
    grid-template-rows: repeat(5, minmax(250px));
    padding: 0vh 8.2vw;
    column-gap: 5rem;
    padding-top: 19vh;
    padding-bottom: 5vh;
    // margin-bottom: 25vh;
  }

  /*********************************************************/
  /**********************Modal Section*********************/
  @include Modal.modal;

  /*********************************************************/
  /**********************Form Section*********************/
  @include Form.form;

  /*********************************************************/
  /**********************Office Section*********************/
  @include OfficeSection.office;

  /*********************************************************/
  /**********************Get In Touch Section*********************/
  @include GetInTouch.get-in-touch;
}

@keyframes enlarge {
  100% {
    font-size: 1.2rem;
  }
}
