
      %header-carousel{  
        .home-header-carousel{
          width: 100vw; height: 90vh; background-color: transparent; margin-top: 0;


          @media only screen and (min-height: 769px) {
            & {
             height: 96vh;
            }
          }
          @media only screen and (min-height: 1364px) {
            & {
             height: 102vh;
            }
          }
        }
    }