@use "../../util/mixins";
@use "../../util/variables";
@use "../../util/extensions";

%home-body{
  .home-body{
    // background-color: red;
    border: 5px solid green;
    width: 100vw;
    height: 300vh;
  }
}
