@use "../../util/variables";
@use "../../util/mixins";
@use "carousel";
@use "services";



@keyframes fade-in-out {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glide-up {
  100% {
    transform: translate(0px, 0px);
  }
}
