@use "../../util/mixins";
@use "../../util/variables";
@use "../../util/extensions";
@use "../../components//arrows";
@use "../../components/carousel-button";
@use "./header-carousel";
@use "./loader";
@use "./personality";

%home-header {
  .home-header {
    @include mixins.grid;
    height: 90vh;

   

    transition: transform 2s ease-in-out;

    position: relative;

  
    background-attachment: fixed;
    // background-position: center;
    background-repeat: no-repeat;
    &::after {
      content: "";
      display: block;
      position: absolute;
      // background: linear-gradient(rgba(255, 255, 255, 0.621) ,90%,variables.$black);
      // opacity: 0.5;
      // height: 100vh;
      // // height: 88vh;
      // min-width: 100vw;
    }
    //  images:
    &-image {
      // width: auto;
      z-index: -1;
      // height: auto;
      width: 100vw;
      height: 90vh;
      // height: 90vh;
      object-fit: cover;
      object-position: center;
    }

    //arrow container
    &-arrow-container {
      position: absolute;
      top: 65vh;
      @include mixins.grid;

      // left: calc(100vw/2.085);
      left: -10px;
      transform: scale(0.5);
      // border: 1px solid red;
      width: 100vw;
      height: 120px;
      z-index: 7;
      &:hover {
        cursor: pointer;
      }
    }

    .link {
      margin-top: -8vh;
      // background-color: #fff;
      // border: 1px solid red;

      z-index: 2;
      font-size: 1.3rem;
      // text-decoration: underline;
      position: relative;
      font-family: "Gudea";
      font-weight: bold;
      @include mixins.grid;

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        top: 20px;
        left: 33%;
        background-color: red;
        @include mixins.gradient-button-pb;

        &:hover {
          @include mixins.gradient-button-pb-inverse;
        }
      }
    }


  //making header carousel respponsive
  
    @media only screen and (min-height: 769px) {
      & {
        height: 94vh;

        &-image {
    
          height: 100vh;}
      }
    }

    @media only screen and (min-height: 1364px) {
      & {
       height: 95vh;
      }
    }
  

  //arrows here
  @extend %arrow;

  //header video here
  @extend %header-carousel;

  //personality
  @extend %personality;

  //carousel here
  @extend %carousel-control;


  }
}
