@use "../../util/mixins";
@use "../../util/variables";
@use "../../util/extensions";
@use "../../components//arrows";

%home-header {
  .home-header {
    @include mixins.grid;
    height: 100vh;
    // height: 88vh;
    position: relative;
    min-width: 100vw;
    // background-image: url(../../../images/home_header.jpg);
    background-color: #fff;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    &::after {
      content: "";
      display: block;
      position: absolute;
      // background: linear-gradient(transparent 40%, variables.$black 60%);
      opacity: 0.5;
      height: 100vh;
      // height: 88vh;
      min-width: 100vw;
    }
    //  background: rgba(variables.$black,0.2);

  

    .link{
      margin-top: 400px;
      // background-color: #fff;
      z-index: 2;
      // text-decoration: underline;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 30px;
        height: 2px;
        top: 20px;
        left: 33%;
        background-color: red;
        @include mixins.gradient-button-pb;

        &:hover{
        @include mixins.gradient-button-pb-inverse;
          
        }
    }
  }
  }


    //arrows here
    @extend %arrow;
  
}