@use "../../util/mixins";
@use "../../util/variables";
@use "../../util/extensions";
@use "./home-body-inner";
@use "./home-body-header";
@use "./methodology";

%home-body {
  .home-body {
    // border: 5px solid green;
    width: 100vw;
    min-height: 100vh;
    @include mixins.grid;
    position: relative;
    row-gap: 0;
    background-image: url('../../../images/digtal ui_background_v2.png');
    // background-attachment: scroll, local;
    background-repeat: no-repeat;
    // background-size: cover;

    // height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  
    //inner here
    @extend %inner;


    //header here
  @extend %header;

  //methodology here
  @extend %methodology;
  }
}
