@use "../../util/variables";
@use "../../util/mixins";
@use "carousel";
@use "services";
@use "magic";

@keyframes fade-in-out {
  10% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glide-up {
  100% {
    transform: translate(0px, 0px);
  }
}

.home__heading {
  // border: 3px solid red;
  // background-color: rgba(#fff, 0.5);


  width: 100%;
  @include mixins.flex;
  span {
    font-family: "Prompt 500", sans-serif;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(#fff, 0.5);
    height: 100%;
    position: relative;
    font-size: calc(1rem + 1vw);
    color: #663399;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 115%;
      left: calc((100% - 40%) / 2);
      @include mixins.size(40%, 3px);

      @media only screen and (min-width: 768.1px) {
        @include mixins.size(35%, 5px);
        top: 110%;
        left: calc((100% - 35%) / 2);
      }

      background: var(--navbar-bb-light);
    }
  }
}
