@use "../../util/variables";
@use "../../util/mixins";
@use "sass:list";
@use "sass:map";

// .infinite-carousel {

//   // height: calc(18rem + 1.5vw);
//   // margin-bottom: 10rem;
//   // .infinite-carousel--box {
//   //   width: 100vw;
//   //   height: 100%;
//   //   background-color: rgb(255, 255, 255);
//   //   display: grid;
//   //   justify-content: end;
//   //   align-items: center;
//   //   overflow: hidden;
//   //   position: relative;
//   //   transform: scale(-1, 1);
//   //   position: relative;

//   //   &__one,
//   //   &__two {
//   //     position: absolute;
//   //     transition: transform 0.5s ease-in-out;
//   //     background-color: rgb(35, 146, 190);
//   //     @include mixins.size(100%);
//   //     // @include mixins.customgrid(3, 13, 1fr);

//   //     z-index: 1;

//   //     span {
//   //       @include mixins.size(38px);
//   //       // border: 1px solid red;
//   //       @include mixins.flex;

//   //       svg {
//   //         @include mixins.size(35px);
//   //       }

//   //       &:nth-child(1) {
//   //         @include mixins.position("2/3", "1/2");
//   //       }
//   //       &:nth-child(2) {
//   //         @include mixins.position("1/2", "3/4");
//   //       }
//   //       &:nth-child(3) {
//   //         @include mixins.position("2/3", "3/4");
//   //       }
//   //       &:nth-child(4) {
//   //         @include mixins.position("3/4", "3/4");
//   //       }
//   //       &:nth-child(5) {
//   //         @include mixins.position("1/2", "5/6");
//   //       }
//   //       &:nth-child(6) {
//   //         @include mixins.position("2/3", "5/6");
//   //       }
//   //       &:nth-child(7) {
//   //         @include mixins.position("3/4", "5/6");
//   //       }
//   //       &:nth-child(8) {
//   //         @include mixins.position("1/2", "7/8");
//   //       }
//   //       &:nth-child(9) {
//   //         @include mixins.position("2/3", "7/8");
//   //       }
//   //       &:nth-child(10) {
//   //         @include mixins.position("3/4", "7/8");
//   //       }
//   //       &:nth-child(11) {
//   //         @include mixins.position("1/2", "9/10");
//   //       }
//   //       &:nth-child(12) {
//   //         @include mixins.position("2/3", "9/10");
//   //       }
//   //       &:nth-child(13) {
//   //         @include mixins.position("3/4", "9/10");
//   //       }
//   //       &:nth-child(14) {
//   //         @include mixins.position("1/2", "11/12");
//   //       }
//   //       &:nth-child(15) {
//   //         @include mixins.position("2/3", "11/12");
//   //       }
//   //       &:nth-child(16) {
//   //         @include mixins.position("3/4", "11/12");
//   //       }
//   //       &:nth-child(17) {
//   //         @include mixins.position("1/2", "13/14");
//   //       }
//   //       &:nth-child(18) {
//   //         @include mixins.position("3/4", "13/14");
//   //       }
//   //     }
//   //   }

//   //   &__one {
//   //     background: url("../../../svg/home/infinite-carousel/CSS3.svg");
//   //     background-repeat: no-repeat;
//   //     background-position: 50% 50%;
//   //   }
//   //   &__two {
//   //     background-color: rgb(161, 146, 30);
//   //     // display: none;
//   //   }
//   // }

//   // .leftblur,
//   // .rightblur {
//   //   display: block;
//   //   position: absolute;
//   //   @include mixins.size(100%, 100%);
//   // }
//   // .leftblur {
//   //   z-index: 2;
//   //   background-color: rgb(182, 39, 39);
//   // }

//   // .rightblur {
//   //   z-index: 3;
//   //   background: rgb(32, 206, 75);
//   //   background-repeat: no-repeat;
//   //   background-position: 30% 90%;
//   // }
// }

.infinite-carousel {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: calc(18rem + 1.5vw);
  height: 300px;
  border: 3px solid red;
  // margin-bottom: 10rem;

  width: 100vw;
  justify-content: center;

  @mixin white-gradient {
    background: linear-gradient(to right, rgba(rgb(255, 255, 255), 1) 0%, rgba(255, 255, 255, 0) 100%);
  }

  $animationSpeed: 15s;

  // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    // 100% {
    //   transform: translateX(calc(-35px * 7));
    // }
    100% {
      transform: translateX(calc(-250px * 7));
      transform: translateX(calc(-250px * 6));
    }
  }

  // Styling
  .slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
    width: 1100px;
    width: 100%;

    border: 3px solid red;

    &::before,
    &::after {
      @include white-gradient;
      content: "";
      height: 100%;
      position: absolute;
      width: 50vw;
      z-index: 2;
    }

    &::after {
      right: 0;
      top: 0;
      transform: rotateZ(180deg);
    }

    &::before {
      left: 0;
      top: 0;
    }

    .slide-track {
      animation: scroll $animationSpeed linear infinite;
      display: flex;
      width: calc(35px * 14);
      // border: 3px solid red;
      height: 33.3%;
      width: calc(250px * 14);
      width: calc(250px * 14);
      // width: auto;
    }

    .slide {
      height: 35px;
      width: calc(100vw / 12);
      height: 100px;
      width: 250px;
      // border: 3px solid rgb(36, 225, 162);
    @include mixins.flex;
    }
  }
}
