@keyframes one{
  100%{
      transform: scale(0);
  }
}

@keyframes two{
  100%{
      transform: scale(1);
  }
}




%loader7{
  .loader{
    position: relative;
}

  .loader7{
      width: 250px;
      height: 250px;

      span{
          width: 250px;
          height: 250px;
          border: 2px solid black;
          border-radius: 50%;
          box-shadow: 0 0 50px blue;
          transition: all 0.5s ease;

          &:nth-child(1){
              position: absolute;
              content: '';
              width: 250px;
              height: 250px;
              border: 2px solid black;
              box-shadow: 0 0 50px blue;
              border-radius: 50%;
              transition: all 0.5s ease;
              animation: one 2s ease infinite;
          }

          &:nth-child(2){
              position: absolute;
              content: '';
              width: 250px;
              height: 250px;
              border: 2px solid black;
              box-shadow: 0 0 50px red;
              border-radius: 50%;
              transform: scale(0);
              transition: all 0.5s ease;
              animation: two 2s ease infinite;
          }
      }

  }
}