@use "../../util/variables";
@use "../../util/mixins";

.home__magic {
  @include mixins.flex(column);
  @include mixins.size(auto);
  background: url("../../../svg/home/arrow1.svg"), url("../../../svg/home/arrow2.svg"), url("../../../svg/home/arrow3.svg"), rgba(255, 255, 255, 1);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0% 24.5%, 98.75% 53.5%, 0% 82.5%;
  row-gap: 3rem;
  padding-top: 1rem;

  @media only screen and (min-width: 768.1px) {
    row-gap: 1.2rem;
    padding-top: 2.5rem;
    background: url("../../../svg/home/vector9.svg"), url("../../../svg/home/vector10.svg"), url("../../../svg/home/vector11.svg"), rgba(255, 255, 255, 1);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 76.5% 19.5%, 16% 48%, 76.5% 76%;
  }
  @media only screen and (min-width: 1200.1px) {
    row-gap: 5rem;
    padding-top: 3.5rem;
  }

  &--card {
    margin-top: -1.5rem;
    background-color: rgba(255, 255, 255, 0);
    padding: 0.5rem 1rem;
    @include mixins.grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
    @include mixins.size(100%, calc(8rem + 24vw));
    @media only screen and (min-width: 768.1px) {
      padding: 0.5rem 4rem;
      @include mixins.size(100%, calc(8rem + 14vw));
      grid-template-rows: repeat(1, 1fr);
      grid-template-columns: repeat(18, 1fr);
    }
    @media only screen and (min-width: 530.1px) and (max-width: 650px)  {
      @include mixins.size(100%, calc(8rem + 15vw));
    
    }
    @media only screen and (min-width: 650.1px) and (max-width: 768px)  {
      @include mixins.size(100%, calc(8rem + 13vw));
    
    }
    & > * {
      @include mixins.flex;
      @include mixins.size(100%);
    }

    .moon {
      stroke: #663399;
      grid-row: 1/6;
      grid-column: 1/3;
      @media only screen and (min-width: 768.1px) {
        grid-row: 1/2;
        grid-column: 1/4;
      }
      margin-top: -2.5rem;
      padding-right: 0.5rem;
      // grid-column: 7/9;

      span {
        @include mixins.size(calc(5rem + 4.25vw));
        @media only screen and (min-width: 768.1px) {
          @include mixins.size(10rem);
        }
        // @include mixins.size(70px);

        position: relative;
        img {
          position: absolute;
          &:nth-child(1) {
            // display: none;
            z-index: 2;
            background-color: #fff;
            border-radius: 100%;
            opacity: 1;
            transition: opacity 0.25s ease-in-out;

            &:hover {
              opacity: 0;
            }
          }
          &:nth-child(2) {
            // display: none;
            z-index: 1;
          }
        }
      }
    }
    .icon {
      stroke: #000;
      grid-row: 6/9;
      grid-column: 1/9;
      margin-bottom: -2.35rem;
      span {
        @include mixins.size(50px);
      }
      @media only screen and (min-width: 768.1px) {
        grid-row: 1/2;
        grid-column: 14/19;
        margin-bottom: 0rem;
        margin-top: -3rem;
      }
    }

    .text {
      font-size: calc(1rem + 1.1vw);
      font-family: "Prompt 500", sans-serif;
      overflow: hidden;
      width: -moz-fit-content;
      width: fit-content;
      grid-row: 1/6;
      grid-column: 3/9;
      line-height: 2.3rem;
      word-spacing: 0.25rem;
      @media only screen and (min-width: 768.1px) {
        grid-row: 1/2;
        grid-column: 4/13;
        margin-left: 1.85rem;
        max-width: 38rem;
        max-height: 14rem;
        text-shadow: none;
        line-height: calc(1.8rem + 0.8vw);
        font-size: calc(1rem + 0.9vw);
        margin-top: 1rem;
 
      }

      @media only screen and (min-width: 960.1px) {
        max-width: 42rem;
      
      }
      // grid-column: 1/7;
      text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
      padding-right: 0.25rem;
      background-color: rgba(#fff, 0.05);
    }
  }
}

@mixin leftAlignedMagic {
  .moon {
    grid-column: 7/9;

    @media only screen and (min-width: 768.1px) {
      grid-column: 6/9;
    margin-left: 5rem;

    }
    @media only screen and (min-width: 1200.1px) {
    }
  }
  .text {
    grid-column: 1/7;
    padding-right: 0rem;

    padding-left: 1rem;

    @media only screen and (min-width: 768.1px) {
      grid-column: 9/19;
    padding-left: 0rem;
    margin-left: 7rem;

    }
    @media only screen and (min-width: 768.1px) and (max-width: 800.1px)  {
    margin-left: 5rem;

    }
  }

  .icon {
    @media only screen and (min-width: 768.1px) {
      grid-column: 1/6;
      margin-bottom: 0rem;
      justify-content: flex-start;
      padding-left: 3.5rem;
      
    }
  }
}

.leftmagic {
  @include leftAlignedMagic;
}
