@use "../../util/mixins";

%methodology {
  .home-body-methodology {
    border: 5px solid greenyellow;
    width: 74vw;
    height: 120vh;
    background-color: var(--home-body-inner-bg);
    padding-bottom: 6rem;

    //sub meth container
    &-sub {
      border: 1px solid blue;
      @include mixins.grid;
      row-gap: -1rem;
      width: inherit;
      height: 80%;

      .methodology-icon {
        color: #fff;
        font-size: 5rem;
      }

      &-one {
        cursor: pointer;
        &-child {
          background: linear-gradient(to top left, rgb(0, 208, 255) 10%, 20%, rebeccapurple 90%);
          // background: linear-gradient(to bottom right,orangered 0 70%,71% 80%, rebeccapurple 81% 100%);
          height: 70px;
          width: 70px;
          border-radius: 50%;
          align-self: flex-start;
          @include mixins.grid;
          place-items: center;
          // &::after{
          //   content: '';
          //   position: absolute;
          //   height: 34vh;
          //   width: 3px;
          // transition: all 0.5s ease-in-out;

          // background: linear-gradient(to top, rebeccapurple, 20%, rgb(0, 208, 255));
          // transform: rotate(-72deg) translate(12vh,25vh);
          // // transform: rotate(-75deg) translate(130px,240px);

          // }
        }
      }
      &-two {
        @include mixins.grid;
        place-items: center;
        margin-top: -5rem;

        &-child {
          height: 100px;
          width: 3px;
          background: linear-gradient(to top, rebeccapurple, 20%, rgb(0, 208, 255));
          transition: all 0.5s ease-in-out;
        }
      }
      &-three {
        margin-top: -5rem;

        &-child {
          @include mixins.grid;
          place-items: center;
          background-color: #043;
          height: 70px;
          width: 70px;
          background: linear-gradient(to top left, rgb(0, 208, 255) 10%, 20%, rebeccapurple 90%);
          border-radius: 50%;
        }
      }
      &-four {
        @include mixins.grid;
        place-items: center;
        margin-top: -5rem;

        &-child {
          height: 100px;
          width: 3px;
          background: linear-gradient(to top, rebeccapurple, 20%, rgb(0, 208, 255));
          transition: all 0.5s ease-in-out;
        }
      }
      &-five {
        z-index: 9;
        margin-top: -5rem;

        &-child {
          @include mixins.grid;
          place-items: center;
          background-color: #549;
          height: 70px;
          width: 70px;
          background: linear-gradient(to top left, rgb(0, 208, 255) 10%, 20%, rebeccapurple 90%);
          border-radius: 50%;
        }
      }
      &-six {
        @include mixins.grid;
        place-items: center;
        margin-top: -5rem;

        &-child {
          height: 100px;
          width: 3px;
          background: linear-gradient(to top, rebeccapurple, 20%, rgb(0, 208, 255));
          transition: all 0.5s ease-in-out;
        }
      }
      &-seven {
        margin-top: -5rem;

        &-child {
          @include mixins.grid;
          place-items: center;
          background-color: #843;
          height: 70px;
          width: 70px;
          background: linear-gradient(to top left, rgb(0, 208, 255) 10%, 20%, rebeccapurple 90%);
          border-radius: 50%;
        }
      }
    }
  }
}


