@use "../../util/variables";
@use "../../util/mixins";

// @mixin services{
.home__service {
  @include mixins.flex(column);
  @include mixins.size(auto);
  row-gap: 3rem;

  &--card {
    @include mixins.grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(1, 1fr);
    @include mixins.size(calc(100% - 20vw), calc(24rem + 24vw));
    @media only screen and (min-width: 501px) and (max-width: 600px) {
      @include mixins.size(calc(100% - 30vw), calc(24rem + 24vw));
    }
    // @include mixins.size(60%, calc(24rem + 24vw));
    // @include mixins.size(80%, 34rem);

    box-shadow: 2px 20px 40px 10px rgba(#993390, 0.125);
    // box-shadow: 2px 20px 40px 10px rgba(#663399,0.15);

    & > * {
      @include mixins.size(100%);
    }

    &-image {
      background-color: rgb(37, 207, 34);
      grid-row: 1/5;
      grid-column: 1/2;
      @include mixins.flex;
      overflow: hidden;

      img {
        @include mixins.size(100%);
        object-fit: cover;
        transition: transform 0.5s linear;
        // transition: transform 0.75s ease-in-out;

        &:hover {
          transform: scale(1.75);
        }
      }
    }
    &-subcard {
      & > * {
        @include mixins.size(100%, 85%);
      }
      background-color: rgb(255, 255, 255);
      grid-row: 5/8;
      grid-column: 1/2;
      padding: 0.5rem 2.5rem;
      @include mixins.grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(1, 1fr);

      .icon {
        grid-row: 1/2;
        grid-column: 1/3;
        background-color: rgb(255, 255, 255);
        @include mixins.flex;
        padding: 0.5rem 0rem;
        padding-right: 2.5rem;

        span {
          svg {
            @include mixins.size(calc(4rem + 2.25vw));
            stroke-width: 0.25;
            color: #000;
            stroke: #fff;
          }
        }
      }

      .mini-card {
        padding: 0.5rem 1rem;
        padding-left: 0;
        background-color: #fff;

        grid-row: 1/2;
        grid-column: 3/10;

        .text {
          background-color: rgb(255, 255, 255);

          font-size: calc(0.5rem + 1.175vw);
          font-family: "Prompt", sans-serif;
          overflow: hidden;
          width: -moz-fit-content;
          width: fit-content;
        }

        .title {
          background-color: rgb(255, 255, 255);

          font-size: calc(1rem + 1.425vw);
          font-family: "Prompt", sans-serif;
          padding-bottom: 0.25rem;
          width: max-content;
        }
      }
    }
  }
}
// }
