:root,
:root.dark {
  &>* a::selection,   *::selection{
    background-color: rebeccapurple;
    color: white;
 }
 --main-background: #{$main-background-dark};
 --home-magic-bg: #{$home-magic-bg-dark};

  --footer-bg: red;
  --footer-text: green;
  --home-desktop-bg-svg: #{$home-desktop-bg-svg-dark};
  --home-laptop-bg-svg: #{$home-laptop-bg-svg-dark};
    //arrow
    --arrow-start: #{$arrow-start-light};
    --arrow-end: #{$arrow-end-light};
}