@use "../util/mixins";


@media all and (max-width: 1024px) {
   html {
      font-size: 53%;
   }
}
@media all and (max-width: 768px) {
   html {
      font-size: 50%;
   }
}
 




//language wueries
   @media (min-width: 768px) and (max-width: 1024px) {
   .language-item {
      .language-item-sub {
         .language-dropdown {
            top: 7rem;
            right: 3.5rem;
         }
      }
   }
}

