//bs: box-shadow
//bg: background
//bb: border bottom
//dd: dropdown
//scb: scrollbar
//btn: button
//bl: border left n so on...

//variablessss
$displayState: none;
$purple: rebeccapurple;
$black: #000000;
$active-hover: gold;
$light-blue: lighten(rgb(0, 81, 139), 50);
$white: #fff;
$light-purple-50: lighten($purple, 50);
$light-purple-20: lighten($purple, 20);
$light-purple-10: lighten($purple, 10);
$skyBlue: #00d0ff;

//global variables
$facebook-hover: rgb(16, 16, 174);
$instagram-hover: rgb(81, 31, 131);
$twitter-hover: lighten(rgb(0, 81, 139), 30);
$youtube-hover: red;
$linkedin-hover: blue;
$navbar-border-gradient: linear-gradient(to left, lighten(rgb(0, 81, 139), 30), $purple);
// $navbar-border-gradient: linear-gradient(to left, lighten(rgb(0, 81, 139), 50), $light-purple-10);
$footer-border-gradient: linear-gradient(to left, $purple, lighten(rgb(0, 81, 139), 30));

//Light colorSpace
//Light colorSpace

//footer section
$footer-bg-light: $white;
$footer-body-heading-bg-light: $black;
$footer-body-link-color-light: rgba(#000000, 0.65);
$footer-help-bg-light: #ececec;
$footer-help-btn-bg-light: $purple;
$footer-help-span-color-light: $purple;
$footer-contact-bg-light: $purple;
$footer-contact-color-light: $white;

$footer-text-light: $black;
$footer-menu-bg-light: $footer-bg-light;
$footer-policy-bg-light: $footer-bg-light;
$footer-policy-bt-light: $black;
$footer-subscribe-bg-light: #f5f7fa;
$footer-subscribe-input-color-light: $black;
$footer-subscribe-input-bs-light: #777;
$footer-subscribe-input-caret-light: #888;
$footer-link-hover-light: $light-purple-20;
$footer-link-after-light: $black;
$footer-contact-after-light: $white;
$footer-menu-bb-light: #e4ebf3;
$footer-bt-light: $footer-border-gradient;

//navbar section
//desktop
$navbar-link-light: $black;
$navbar-flag-b-light: $purple;
$navbar-flag-bg-light: $light-blue;
$navbar-flag-hovered-light: darken($light-blue, 20);
$navbar-link-after-light: $purple;
$navbar-link-visited-light: $navbar-link-light;
$navbar-link-active-bb-light: 3px solid $purple;

//tablet
$tablet-navbar-bg-light: $white;
$tablet-navbar-link-light: $purple;

//mobile
$mobile-navbar-bg-light: $white;
$mobile-navbar-select-item-light: lighten( $purple, 30%);
$mobile-navbar-svg-fill-light: $purple;
$mobile-navbar-selection-bg-light: $purple;
$mobile-navbar-selection-color-light: $white;
$mobile-navbar-light: aliceblue;
$mobile-navbar-link-light: $active-hover;
$mobile-navbar-item-bb-light: $black;
$mobile-navbar-item-link-light: $footer-bg-light;
$mobile-navbar-item-link-hovered-light: $black;
$mobile-navbar-item-hover-light: $light-purple-50;
$mobile-navbar-link-after-light: #b38cd9;


//select both navbars
$navbar-select-item-bg-light: $purple;
$navbar-select-item-bb-light: $black;
$navbar-select-item-hover-light: $light-purple-50;
$navbar-select-item-dd-text-light: $white;
$navbar-select-item-dd-text-hover-light: $black;

//language dropdown
$navbar-language-dd-item-bg-hover-light: $light-purple-50;
$navbar-language-dd-item-bg-light: $purple;
$navbar-language-dd-item-bl-light: $black;
$navbar-language-dd-item-br-light: $black;
$navbar-language-dd-item-bt-light: $black;
$navbar-language-dd-item-bb-light: $black;
$navbar-bb-light: $navbar-border-gradient;

//special
$special-language-hover-bg-light: $purple;
$special-language-dd-bb-light: $light-purple-50;
$special-language-dd-hover-bg-light: $light-purple-50;

//arrowa
$arrow-start-light: $light-blue;
$arrow-end-light: $purple;

//home
$home-heading-bg-light: rgba(rgb(255, 255, 255), 0.5);
$home-heading-color-light: $purple;
$home-body-inner-bg-light: #f5f7fa;
$home-body-card-text-light: #00000099;
$home-body-card-heading-light: #000000de;
$home-body-card-button-light: $purple;
$home-body-card-button-light-hover-color: $home-body-inner-bg-light;
$home-body-card-button-light-hover-bg: $home-body-card-button-light;
$home-body-card-icon-light: $purple;
$home-body-card-bs-light: 5px 5px 10px -10px #888, -5px -5px 10px -10px #555;
$home-body-para-light: #555;
$home-body-title-light: $purple;

//home carousel
$carousel-button-bg-light: linear-gradient(to bottom left, rebeccapurple, rgb(0, 208, 255));
$carousel-icon-bg-light: $purple;
$carousel-consulting-caption-light: $white;
$carousel-consulting-caption-sub-bg-light: rgba($black, 0.4);
$carousel-consulting-caption-sub-before-bg-light: $white;
$carousel-button-mobile-bg-light: $purple;
$carousel-control-arrow-light: $purple;

//digital marketing
$marketing-card-svg-fill-light: $purple;
$marketing-card-svg-num-inside-fill-light: $white;
$marketing-card-svg-blocks-fill-light: rgba(#663399, 0.2);
$marketing-card-svg-content-fill-light: $skyBlue;
$marketing-card-content-color-light: rgba(0, 0, 0, 0.65);
$marketing-card-heading-color-light: $purple;
$marketing-card-bg-light: $white;
$marketing-card-bs-light: 0px 0px 9.82657px rgba(0, 0, 0, 0.15);

//scrollbar
$scb-track-bs-light: inset 0 0 5px grey;
$scb-track-bg-light: rgba(102, 51, 153, 0.57);
$scb-thumb-bg-light: rgba(102, 51, 153, 0.892);
$scb-thumb-hover-light: darken(rebeccapurple, 10%);
