//variables
$displayState: none;
$purple: rebeccapurple;
$black: #000000;
$active-hover: gold;
$light-blue: lighten(rgb(0, 81, 139), 50);


//Light colorSpace
//Light colorSpace

//footer section
$footer-bg-light: white;
$footer-menu-light: $footer-bg-light;

$footer-menu-bb-light: #e4ebf3;
